.substack-importer.wrapper {
	width: 800px;
}

#importer-progress .progress-bar {
	width: 100%;
	background-color: #e0e0e0;
	padding: 3px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

#importer-progress .progress-bar-fill {
	display: block;
	height: 22px;
	background-color: #659cef;
	border-radius: 3px;

	transition: width 500ms ease-in-out;
}

#importer-experiment-app .stage {
	margin: 10px 0;
}

#importer-experiment-app .stage ul {
	margin-bottom:10px;
}

#importer-experiment-app .stage li.name {
	font-weight:bold;
}

#importer-experiment-app .stage li:not(:last-child) {
	padding-right: 3px;
	border-right: 1px solid rgb(130, 130, 130);
}

#importer-experiment-app .status.hold {
	color: #710000;
}

#importer-experiment-app .status.completed {
	color: #008400;
}

#importer-experiment-app .status.running {
	color: #012c86;
}

#importer-experiment-app .status.pending {
	color: #f34300;
}

#importer-experiment-app .status.scheduled {
	color: #6a00b8;
}
